{% extends 'base.html' %}

{% block title %}
    Cards Home
{% endblock %}

{% block header %}
    Cards Home
{% endblock %}

{% block content %}
    <a href="{% url 'card-new' %}">
        <button>New Card</button>
    </a>
    {% for card in cards %}
        
        <h1><a href="{{ card.get_absolute_url }}">{{ card.title }}</a></h1>
        <h2>{{card.content}}</h2>
        <p>categories:
            {% for type in card.categories.all %}
                {{ type.category }},
            {% endfor %}
        </p>
        <p>posted by {{card.author}} on {{card.date_created}}</p>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}"><b>{{ num }}</b></a>
            {% elif page_obj.number|add:'-3' < num and page_obj.number|add:'3' > num%}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}