{% extends 'base.html' %}

{% block title %}
    Cards Home
{% endblock %}

{% block header %}
    Welcome Home!
{% endblock %}

{% block content %}
    {% for card in cards %}
        <h1>{{card.title}}</h1>
        <h2>{{card.cardcontent.content}}</h2>
        <p>categories:
            {% for type in card.cardtype_set.all %}
                {{ type.category }},
            {% endfor %}
        </p>
        <p>posted by {{card.author}} on {{card.date_created}}</p>
    {% endfor %}
{% endblock %}